<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ASL Recognition</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h2>American Sign Language Recognition</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	
      <select name="lang" required>
        <option selected disabled>Select Lang</option>
        <option value="en">English</option>
        <option value="kn">Kannada</option>
        <option value="hi">Hindi</option>
        <option value="te">Telugu</option>
      </select>


        <button type="submit" class="btn btn-primary btn-block btn-large">Start camera</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
